# Hawkin Dynamics Beta API

In [2]:
import http.client
import json
import pandas as pd
import numpy as np
import regex as re
import os

#### Request refresh token

In [3]:
conn = http.client.HTTPSConnection("cloud.hawkindynamics.com")
payload = ""
headers = { 'authorization': "Bearer K37pij.84L3fAYDMDC0EQhZvKxV3dx07RV90" }
conn.request("GET", "/api/token", payload, headers)
res = conn.getresponse()
data = res.read()
data_config = data.decode("utf-8")

#### Replace Request Token with Access Token

In [4]:
new_token = "Bearer " + str(data_config[17:241])
conn = http.client.HTTPSConnection("cloud.hawkindynamics.com")
payload = ""
headers = { 'authorization': new_token }
conn.request("GET", "/api/ucsdtritons", payload, headers)
res = conn.getresponse()
data = res.read()
results = data.decode("utf-8")

In [5]:
pydict = json.loads(results)

In [6]:
raw = pydict['data']
# gives a list of dictionaries, each with specific id

In [7]:
# create seperate list for each jump type
CMJ = []
IT = []
DJ = []
MR = []
SJ = []

In [8]:
for dct in raw:
    # find test type
    test_type = dct['testType']['name']
    # create tags list
    pattern = '(?<=-).*$'
    tags = re.findall(pattern, test_type)
    if len(tags) == 0:
        tags = []
    else:
        tags = tags[0].split('-')
    dct['tags'] = tags
    
    # append dictionary to correct list
    if 'Countermovement Jump' in test_type:
        CMJ.append(dct)
    elif 'Multi Rebound' in test_type:
        MR.append(dct)
    elif 'Isometric Test' in test_type:
        IT.append(dct)
    elif 'Drop Jump' in test_type:
        DJ.append(dct)
    elif 'Squat Jump' in test_type:
        SJ.append(dct)

### Helper Functions for cleaning

In [9]:
# unpack nested dictionaries for each jump type
def dct_unpack(orig):
    to_del = []
    to_add = {}
    for k, v in orig.items():
        if type(v) == dict:
            to_del.append(k)
            # unpack
            for k2, v2 in v.items(): 
                to_add[k + ' ' + k2] = v2
    # delete old
    for key in to_del:
        del orig[key]
    orig.update(to_add)
    return orig

# clean up df cols
def dct_to_df(jump_dct):
    for jump in jump_dct:
        jump = dct_unpack(jump)
        
    df = pd.DataFrame(jump_dct)
    df['segment'] = df['segment'].apply(lambda x: re.findall('\d+', x)[0])
    df['injured'] = df['tags'].apply(lambda x: 1 if 'Injury' in x else 0)
    df = df.drop(columns=['testType id', 'testType name'])
    return df

## Counter Movement Jump

In [10]:
CMJ_df = dct_to_df(CMJ)

* create seperate single leg df

In [11]:
CMJ_df['SL'] = CMJ_df['tags'].apply(lambda x: 1 if 'Single Leg' in ' '.join(x) else 0)
CMJ_DL = CMJ_df[CMJ_df['SL'] == 0].drop(columns=['SL'])
CMJ_SL = CMJ_df[CMJ_df['SL'] == 1].drop(columns=['SL'])

## Multi Rebound

In [12]:
# clean up MR_df
MR_df = dct_to_df(MR)
MR_df.head()

,System Weight(N),athlete id,athlete name,id,segment,tags,timestamp,injured
0,608,nwmwCeTUcaEE7F7wrEwl,Rebecca Whitney,pDVt8UapfuZTDU3CLqlu,8,[],1558452544,0
1,673,5QLrU8r4OPH59b7hqoZA,Susanna Limb,6JWrTWymh9ysonMeV2yK,1,[],1558452800,0
2,747,O0f9UuepCrsQgeU6sIC8,Jessica Rieble,DcqpFj6Y6Ld2aUucjmM3,3,[],1558452899,0
3,617,ybQXDRhzi0cin2wUyAv7,Alyson Penrose,llg1lqI8fKRXH8Ef138b,7,[],1558453015,0
4,679,p45ikza14UD64hPfvbTs,Gina Cortesi,7gysx2WfZ7rPZdxuaYJS,2,[],1558453193,0

## Isometric Test

In [13]:
IT_df = dct_to_df(IT)
IT_df.head()

,Force at 0 ms(N),Force at 100 ms(N),Force at 150 ms(N),Force at 200 ms(N),Force at 250 ms(N),Force at 50 ms(N),Left Peak Force(N),Length of Pull(s),L|R Peak Force(%),Peak Force(N),...,Relative Peak Force(%),Right Peak Force(N),Time to Peak Force(s),athlete id,athlete name,id,segment,tags,timestamp,injured
0,1161,1306,1472,1608,1766,1221,1927,3.57,2.23,3727,...,345,1843,2.28,DO6POVoe9OKGicvXLPUy,Christian,T4lIuQoAff3LGJudAn9q,11,[],1558457012,0
1,1210,1445,1656,1796,1865,1331,1582,4.09,-4.27,3224,...,330,1723,1.95,DO6POVoe9OKGicvXLPUy,Christian,Vt15lQ1tPv3OYwHVGPK9,12,[],1558457038,0
2,875,1199,1517,1707,1890,964,1161,3.70,5.93,2143,...,302,1031,0.66,BntiuevSVOHkeYzsagGq,Evan,tDuFUgf5nqyqVgPqywHK,18,[],1558457131,0
3,1013,1269,1491,1591,1809,1125,1141,3.64,7.79,2046,...,271,976,1.08,BntiuevSVOHkeYzsagGq,Evan,iQ0IQ1loML1iyehfS011,13,[],1558457147,0
4,1305,1668,2057,2357,2603,1466,1900,3.50,2.70,3697,...,297,1800,3.14,85YcBTVSBbXufLek7O10,Lauren Green,SEQFza0KWKM0lDm3lGF6,10,[],1558457270,0

## Squat Jump

In [14]:
SJ_df = dct_to_df(SJ)
SJ_df.head()

,Avg. Landing Force(N),Avg. Propulsive Force(N),Avg. Propulsive Power(W),Avg. Propulsive Velocity(m/s),Avg. Relative Propulsive Force(%),Avg. Relative Propulsive Power(W/kg),Avg. Work(J),Flight Time(s),Jump Height(m),L|R Avg. Landing Force(%),...,Takeoff Velocity(m/s),Time To Takeoff(s),Time to Stabilization(ms),athlete id,athlete name,id,segment,tags,timestamp,injured
0,1576,1990,1979,0.99,176,17,227,0.39,0.20,-2.65,...,1.99,0.27,490,85YcBTVSBbXufLek7O10,Lauren Green,mJNkxXNM3VmKDk9QR8YV,2,[],1563556732,0
1,1325,1632,1087,0.59,141,9,171,0.41,0.15,-6.07,...,1.70,0.43,N/A,85YcBTVSBbXufLek7O10,Lauren Green,dVIbHnTSi6DN6UeRwrEW,1,[],1563556749,0

## Drop Jump

In [15]:
DJ_df = dct_to_df(DJ)
DJ_df.head()

,Avg. Braking Force(N),Avg. Braking Power(W),Avg. Landing Force(N),Avg. Propulsive Force(N),Avg. Propulsive Power(W),Avg. Relative Braking Force(%),Avg. Relative Braking Power(W/k.g),Avg. Relative Propulsive Force(%),Avg. Relative Propulsive Power(W/k.g),Braking Impulse(N.s),...,Time To Takeoff(s),Time to Stabilization(ms),athlete id,athlete name,id,mRSI,segment,tags,timestamp,injured
0,1837,-3167,929,1180,878,258,-44,166,12,409,...,0.40,N/A,EmnEUb2e9irIjGRMdVKn,Alexis Kirson,GCj46LBcMJQnMKYaDeEV,0.16,1,[],1558454527,0
1,1950,-3503,814,1325,1155,274,-48,186,16,395,...,0.36,N/A,EmnEUb2e9irIjGRMdVKn,Alexis Kirson,dT5IDglQGQcDfGSj05FE,0.26,2,[],1558454593,0
2,1622,-2984,1145,1245,1120,224,-40,172,15,461,...,0.49,440,0Wd7zQnaEe27svzN67db,Aarslan Rafique,jEImzdnA9hBPUyeyLFkf,0.21,24,"[24"" Box]",1558550719,0
3,1673,-2987,874,1385,1221,231,-40,191,17,449,...,0.43,N/A,0Wd7zQnaEe27svzN67db,Aarslan Rafique,wABYlLabBedoftyLeKUP,0.25,24,"[24"" Box]",1558550730,0
4,1677,-2990,1029,1402,1234,235,-41,197,17,433,...,0.41,N/A,0Wd7zQnaEe27svzN67db,Aarslan Rafique,RTLNLlLneb3mqLGn04wk,0.25,24,"[24"" Box]",1560364208,0

### Manually append data to csv in current directory
* can be changed later to push to the cloud
* still looking into how to have it update automatically

 - to run the entire notebook from the command line (i.e. without having to open the notebook and execute all cells), execute on the command line: jupyter nbconvert --to notebook --execute mynotebook.ipynb

In [21]:
# can change the names of these later if needed
csv_list = ['countermovement_dl.csv', 'countermovement_sl.csv', 'multirebound.csv', 'isometrictest.csv', 'squatjump.csv', 'dropjump.csv'] 
df_list = [CMJ_DL, CMJ_SL, MR_df, IT_df, SJ_df, DJ_df]

for i in range(len(csv_list)):
    csv = csv_list[i]
    curr_df = df_list[i] 
    if not os.path.isfile(csv):
        curr_df.to_csv(csv, header='column_names')
    else: # else it exists so append without writing the header
        curr_df.to_csv(csv, mode='a', header=False)